.tabs {
  position: absolute;
  width: 68%;
  top: 3vw;
  left: 3%;
}

.btntabs {
  background-color: rgb(16, 0, 61, 0);
  height: 3.3vw;
  width: 12vw;
  border-radius: 1vw 0;
  margin-right: 8vw;
  font-size: 1.2vw;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.btntabs:after {
  border-radius: 1.5vw 0;
  content: "";
  position: absolute;
  top: -0.8vw;
  left: -0.8vw;
  right: -0.8vw;
  bottom: -0.8vw;
  z-index: -1;
  background: rgb(16, 0, 61, 0.6);
}

.btn1 {
  border: var(--purple) 0.2vw solid;
  color: var(--purple);
}

.active:after {
  background: rgb(16, 0, 61, 1);
}
.btn2 {
  border: var(--yelow) 0.2vw solid;
  color: var(--yelow);
}
.btn3 {
  border: var(--blue-lite) 0.2vw solid;
  color: var(--blue-lite);
}

@media only screen and (max-width: 999px) {
  .tabs {
    position: absolute;
    width: 98%;
    top: 65vw;
    right: 1%;
  }
  .divbtntabs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .btntabs {
    background-color: rgb(16, 0, 61, 0);
    height: 7vw;
    width: 25%;
    border-radius: 3vw 0;
    margin-right: 0;
    font-size: 3.2vw;
    font-weight: 700;
    position: relative;
    cursor: pointer;
  }

  .btntabs:after {
    border-radius: 3.5vw 0;
    content: "";
    position: absolute;
    top: -1.8vw;
    left: -1.8vw;
    right: -1.8vw;
    bottom: -1.8vw;
    z-index: -1;
    background: rgb(16, 0, 61, 0.6);
  }

  .btn1 {
    border: var(--purple) 0.8vw solid;
    color: var(--purple);
  }

  .active:after {
    background: rgb(16, 0, 61, 1);
  }
  .btn2 {
    border: var(--yelow) 0.8vw solid;
    color: var(--yelow);
  }
  .btn3 {
    border: var(--blue-lite) 0.8vw solid;
    color: var(--blue-lite);
  }
}
