.resume {
  margin: 4vw auto;
  position: relative;
  width: 90%;
  height: 40vw;
}

.divresume {
  position: absolute;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  font-size: 1.8vw;
  font-weight: 700;
  white-space: nowrap;
}

.Socket {
  left: 15vw;
  top: 30vw;
  width: 15vw;
  border: chartreuse 0.4vw solid;
  color: chartreuse;
  animation: Socket 1s both;
  animation-delay: 0.5s;
}
.Socket:after {
  background-color: var(--blue);
  width: 5vw;
  height: 5.4vw;
  position: absolute;
  content: "";
  top: -5.85vw;
  left: 4.7vw;
  border: chartreuse solid;
  border-width: 0.4vw 0.4vw 0;
}

@keyframes Socket {
  from {
    top: -80vw;
  }
  to {
    top: 30vw;
  }
}

.Express {
  left: 47.8vw;
  top: 18.9vw;
  width: 5vw;
  height: 16.1vw;
  border: yellow 0.4vw solid;
  color: yellow;

  animation: Express 1s both;
  animation-delay: 0.8s;
}
.Express:after {
  background-color: var(--blue);
  width: 5vw;
  height: 5vw;
  position: absolute;
  content: "";
  top: 10.7vw;
  right: 5.05vw;
  border: yellow solid;
  border-width: 0.4vw 0 0.4vw 0.4vw;
}
p {
  transform: rotate(270deg);
  display: flex;
}
@keyframes Express {
  from {
    top: -80vw;
  }
  to {
    top: 18.9vw;
  }
}

.Heroku {
  left: 8.65vw;
  top: 24.6vw;
  width: 10.7vw;
  height: 4.6vw;
  border: rgb(99, 40, 196) 0.4vw solid;
  color: rgb(99, 40, 196);

  animation: Heroku 1s both;
  animation-delay: 1.1s;
}
.Heroku:after {
  background-color: var(--blue);
  width: 5.5vw;
  height: 5.7vw;
  position: absolute;
  content: "";
  top: 4.6vw;
  right: 4.8vw;
  border: rgb(99, 40, 196) solid;
  border-width: 0 0.4vw 0.4vw 0.4vw;
}
.Heroku:before {
  background-color: var(--blue);
  width: 4.8vw;
  height: 5.6vw;
  position: absolute;
  content: "";
  top: -6vw;
  left: 5.5vw;
  border: rgb(99, 40, 196) solid;
  border-width: 0.4vw 0.4vw 0 0.4vw;
}
@keyframes Heroku {
  from {
    top: -80vw;
  }
  to {
    top: 24.6vw;
  }
}

.CSS {
  left: 30.8vw;
  top: 30vw;
  width: 11vw;
  border: rgb(33, 128, 218) 0.4vw solid;
  color: rgb(33, 128, 218);

  animation: CSS 1s both;
  animation-delay: 1.4s;
}
.CSS:after {
  background-color: var(--blue);
  width: 4.6vw;
  height: 5.45vw;
  position: absolute;
  content: "";
  top: -5.9vw;
  left: 6vw;
  border: rgb(33, 128, 218) solid;
  border-width: 0.4vw 0 0 0.4vw;
}
.CSS:before {
  background-color: var(--blue);
  width: 6.2vw;
  height: 4.7vw;
  position: absolute;
  content: "";
  top: -5.9vw;
  left: 10vw;
  border: rgb(33, 128, 218) solid;
  border-width: 0.4vw 0.4vw 0.4vw 0;
}
@keyframes CSS {
  from {
    top: -80vw;
  }
  to {
    top: 30vw;
  }
}

.MongoDB {
  left: 26vw;
  top: 24.45vw;
  width: 10.4vw;
  border: rgb(213, 124, 235) 0.4vw solid;
  color: rgb(213, 124, 235);

  height: 4.7vw;
  animation: MongoDB 1s both;
  animation-delay: 1.7s;
}
.MongoDB:after {
  background-color: var(--blue);
  width: 4.8vw;
  height: 5.5vw;
  position: absolute;
  content: "";
  top: -5.9vw;
  left: -0.09vw;
  border: rgb(213, 124, 235) solid;
  border-width: 0.4vw 0.4vw 0 0;
}
.MongoDB:before {
  background-color: var(--blue);
  width: 6vw;
  height: 4.7vw;
  position: absolute;
  content: "";
  top: -5.9vw;
  left: -6.3vw;
  border: rgb(213, 124, 235) solid;
  border-width: 0.4vw 0 0.4vw 0.4vw;
}
@keyframes MongoDB {
  from {
    top: -80vw;
  }
  to {
    top: 24.45vw;
  }
}

.React {
  left: 37.3vw;
  top: 13.3vw;
  width: 9.7vw;
  height: 10.4vw;
  border: rgb(114, 209, 212) 0.4vw solid;
  color: rgb(114, 209, 212);

  animation: React 1s both;
  animation-delay: 2s;
}
@keyframes React {
  from {
    top: -80vw;
  }
  to {
    top: 13.3vw;
  }
}

.Ntive {
  left: 8.65vw;
  top: 8.8vw;
  width: 5vw;
  height: 15vw;
  border: rgb(114, 209, 212) 0.4vw solid;
  color: rgb(114, 209, 212);

  animation: Ntive 1s both;
  animation-delay: 2.6s;
}
.Ntive:after {
  background-color: var(--blue);
  width: 5.6vw;
  height: 5vw;
  position: absolute;
  content: "";
  top: 3.95vw;
  right: -6.05vw;
  border: rgb(114, 209, 212) solid;
  border-width: 0.4vw 0.4vw 0.4vw 0;
}
@keyframes Ntive {
  from {
    top: -80vw;
  }
  to {
    top: 8.8vw;
  }
}

.Node {
  left: 31.5vw;
  top: 8.65vw;
  width: 5vw;
  height: 15vw;
  border: rgb(126, 0, 73) 0.4vw solid;
  color: rgb(126, 0, 73);

  animation: Node 1s both;
  animation-delay: 2.3s;
}
.Node:after {
  background-color: var(--blue);
  width: 5vw;
  height: 5vw;
  position: absolute;
  content: "";
  top: 4.1vw;
  right: 5.05vw;
  border: rgb(126, 0, 73) solid;
  border-width: 0.4vw 0 0.4vw 0.4vw;
}
@keyframes Node {
  from {
    top: -80vw;
  }
  to {
    top: 8.65vw;
  }
}

.JavaScript {
  left: 14.5vw;
  top: 8.75vw;
  height: 3.6vw;
  width: 16.2vw;
  border: rgb(211, 152, 188) 0.4vw solid;
  color: rgb(211, 152, 188);

  animation: JavaScript 1s both;
  animation-delay: 2.9s;
}
.JavaScript:after {
  background-color: var(--blue);
  width: 5.6vw;
  height: 5.8vw;
  position: absolute;
  content: "";
  top: 3.65vw;
  left: 5.2vw;
  border: rgb(211, 152, 188) solid;
  border-width: 0 0.4vw 0.4vw 0.4vw;
}
@keyframes JavaScript {
  from {
    top: -80vw;
  }
  to {
    top: 8.75vw;
  }
}

.HTML {
  left: 37.3vw;
  top: 8.65vw;
  height: 3.85vw;
  width: 15.3vw;
  border: rgb(194, 97, 97) 0.4vw solid;
  color: rgb(194, 97, 97);

  animation: HTML 1s both;
  animation-delay: 3.2s;
}
.HTML:after {
  background-color: var(--blue);
  width: 4.8vw;
  height: 5.7vw;
  position: absolute;
  content: "";
  top: 3.85vw;
  left: 10.1vw;
  border: rgb(194, 97, 97) solid;
  border-width: 0 0.4vw 0.4vw 0.4vw;
}
@keyframes HTML {
  from {
    top: -80vw;
  }
  to {
    top: 8.65vw;
  }
}

@media only screen and (max-width: 700px) {
  .resume {
    margin: 4vw auto;
    position: relative;
    width: 80vw;
    height: 140vw;
  }

  .divresume {
    position: absolute;
    height: 13vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue);
    font-size: 5.5vw;
    font-weight: 700;
  }

  .Socket {
    left: 20vw;
    top: 110vw;
    width: 39vw;
    border: chartreuse 1.2vw solid;
    color: chartreuse;
    animation: Socket 1s both;
    animation-delay: 0.5s;
  }
  .Socket:after {
    background-color: var(--blue);
    width: 13vw;
    height: 13vw;
    position: absolute;
    content: "";
    top: -14.25vw;
    left: 11.8vw;
    border: chartreuse solid;
    border-width: 1.2vw 1.2vw 0;
  }

  @keyframes Socket {
    from {
      top: -80vw;
    }
    to {
      top: 110vw;
    }
  }

  .Heroku {
    left: 3.65vw;
    top: 24.6vw;
    width: 26.7vw;
    height: 11vw;
    border: rgb(99, 40, 196) 1.2vw solid;
    color: rgb(99, 40, 196);

    animation: Heroku 1s both;
    animation-delay: 0.8s;
  }
  .Heroku:after {
    background-color: var(--blue);
    width: 13.9vw;
    height: 14.9vw;
    position: absolute;
    content: "";
    top: 11vw;
    right: 11.6vw;
    border: rgb(99, 40, 196) solid;
    border-width: 0 1.2vw 1.2vw 1.2vw;
  }
  .Heroku:before {
    background-color: var(--blue);
    width: 13vw;
    height: 14vw;
    position: absolute;
    content: "";
    top: -15.2vw;
    left: 12.5vw;
    border: rgb(99, 40, 196) solid;
    border-width: 1.2vw 1.2vw 0 1.2vw;
  }
  @keyframes Heroku {
    from {
      top: -80vw;
    }
    to {
      top: 96.6vw;
    }
  }

  .Node {
    left: 61.5vw;
    top: 8.65vw;
    width: 13vw;
    height: 40vw;
    border: rgb(126, 0, 73) 1.2vw solid;
    color: rgb(126, 0, 73);
    animation: Node 1s both;
    animation-delay: 1.1s;
  }
  .Node:after {
    background-color: var(--blue);
    width: 12.9vw;
    height: 10.7vw;
    position: absolute;
    content: "";
    top: 13.1vw;
    right: 13.15vw;
    border: rgb(126, 0, 73) solid;
    border-width: 1.2vw 0 1.2vw 1.2vw;
  }
  @keyframes Node {
    from {
      top: -80vw;
    }
    to {
      top: 82.5vw;
    }
  }

  .CSS {
    left: 32.9vw;
    top: 31.5vw;
    width: 26vw;
    border: rgb(33, 128, 218) 1.2vw solid;
    color: rgb(33, 128, 218);
    height: 12vw;
    animation: CSS 1s both;
    animation-delay: 1.4s;
  }
  .CSS:after {
    background-color: var(--blue);
    width: 11vw;
    height: 13.8vw;
    position: absolute;
    content: "";
    top: -15vw;
    left: 14vw;
    border: rgb(33, 128, 218) solid;
    border-width: 1.2vw 0 0 1.2vw;
  }
  .CSS:before {
    background-color: var(--blue);
    width: 15.7vw;
    height: 11.8vw;
    position: absolute;
    content: "";
    top: -15vw;
    left: 26vw;
    border: rgb(33, 128, 218) solid;
    border-width: 1.2vw 1.2vw 1.2vw 0;
  }
  @keyframes CSS {
    from {
      top: -80vw;
    }
    to {
      top: 82.5vw;
    }
  }

  .Ntive {
    left: 3.65vw;
    top: 8.8vw;
    width: 11.1vw;
    height: 40vw;
    border: rgb(114, 209, 212) 1.2vw solid;
    color: rgb(114, 209, 212);
    animation: Ntive 1s both;
    animation-delay: 1.7s;
  }
  .Ntive:after {
    background-color: var(--blue);
    width: 15.6vw;
    height: 11.5vw;
    position: absolute;
    content: "";
    top: 13.35vw;
    right: -17.05vw;
    border: rgb(114, 209, 212) solid;
    border-width: 1.2vw 1.2vw 1.2vw 0;
  }
  @keyframes Ntive {
    from {
      top: -80vw;
    }
    to {
      top: 54.2vw;
    }
  }

  .JavaScript {
    left: 17.2vw;
    top: 8.75vw;
    height: 12vw;
    width: 42.2vw;
    border: rgb(211, 152, 188) 1.2vw solid;
    color: rgb(211, 152, 188);

    animation: JavaScript 1s both;
    animation-delay: 2s;
  }
  .JavaScript:after {
    background-color: var(--blue);
    width: 12.6vw;
    height: 13.8vw;
    position: absolute;
    content: "";
    top: 12vw;
    left: 14.8vw;
    border: rgb(211, 152, 188) solid;
    border-width: 0 1.2vw 1.2vw 1.2vw;
  }
  @keyframes JavaScript {
    from {
      top: -80vw;
    }
    to {
      top: 54.2vw;
    }
  }

  p {
    transform: rotate(270deg);
  }

  .HTML {
    left: 32.8vw;
    top: 8.65vw;
    height: 12.85vw;
    width: 41.8vw;
    border: rgb(29, 170, 29) 1.2vw solid;
    color: rgb(29, 170, 29);

    animation: HTML 1s both;
    animation-delay: 2.3s;
  }
  .HTML:after {
    background-color: var(--blue);
    width: 12.8vw;
    height: 14.7vw;
    position: absolute;
    content: "";
    top: 12.85vw;
    left: 27.8vw;
    border: rgb(29, 170, 29) solid;
    border-width: 0 1.2vw 1.2vw 1.2vw;
  }
  @keyframes HTML {
    from {
      top: -80vw;
    }
    to {
      top: 38.9vw;
    }
  }

  .React {
    left: 3.65vw;
    top: 13.3vw;
    width: 26.7vw;
    height: 25.2vw;
    border: rgb(255, 141, 64) 1.2vw solid;
    color: rgb(255, 141, 64);

    animation: React 1s both;
    animation-delay: 2.6s;
  }
  @keyframes React {
    from {
      top: -80vw;
    }
    to {
      top: 26.5vw;
    }
  }

  .Express {
    left: 48vw;
    top: 13.3vw;
    width: 26.7vw;
    height: 25.7vw;
    border: rgb(214, 255, 30) 1.2vw solid;
    color: rgb(214, 255, 30);

    animation: Express 1s both;
    animation-delay: 2.9s;
  }
  .Express:after {
    display: none;
  }
  @keyframes Express {
    from {
      top: -80vw;
    }
    to {
      top: 10.6vw;
    }
  }

  .MongoDB {
    left: 3.65vw;
    top: 8.65vw;
    height: 12.85vw;
    width: 41.8vw;
    border: rgb(255, 43, 255) 1.2vw solid;
    color: rgb(255, 43, 255);

    animation: MongoDB 1s both;
    animation-delay: 3.2s;
  }
  .MongoDB:after {
    background-color: var(--blue);
    width: 12.6vw;
    height: 12.3vw;
    position: absolute;
    content: "";
    top: 13vw;
    left: 28vw;
    border: rgb(255, 43, 255) solid;
    border-width: 0 1.2vw 1.2vw 1.2vw;
  }
  .MongoDB:before {
    display: none;
  }
  @keyframes MongoDB {
    from {
      top: -80vw;
    }
    to {
      top: 11.1vw;
    }
  }
}
