.truckweb {
  border: var(--purple) 0.2vw solid;
}

.truckweb .title {
  color: var(--purple);
}

@media only screen and (max-width: 700px) {
  .truckweb {
    border: var(--purple) 1vw solid;
  }

  .truckweb .title {
    color: var(--purple);
  }
}
