.divabout {
  position: absolute;
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: left;
  justify-content: space-between;
  flex-direction: row;
  background: var(--blue);
  border-radius: 2vw;
  font-size: 1vw;
  font-weight: 700;
  padding: 2vw;
  border: var(--purple) 0.2vw solid;
  color: var(--purple);
}

.divabout:after {
  border-radius: 1.5vw;
  content: "";
  position: absolute;
  top: -0.8vw;
  left: -0.8vw;
  right: -0.8vw;
  bottom: -0.8vw;
  background: var(--blue);
  z-index: -1;
}

.divabout .title {
  background: var(--blue);
  border: var(--blue-lite) 0.2vw solid;
  color: var(--blue-lite);
  border-radius: 1vw;
  position: absolute;
  width: 25%;
  height: 3vw;
  top: -1.9vw;
  right: 2.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1.3vw;
  font-weight: 700;
}

.divabout .title:after {
  border-radius: 1.5vw;
  content: "";
  position: absolute;
  top: -0.8vw;
  left: -0.8vw;
  right: -0.8vw;
  bottom: -0.8vw;
  background: var(--blue);
  z-index: -1;
}

.divabout .title_li {
  font-size: 0.9vw;
  font-weight: 700;
  color: var(--purple);
  padding: 0;
  margin: 0.5vw 0 0 0;

}

.divabout .content {
  border: 1px solid var(--blue-lite);
  border-radius: 1vw;
  padding: 0.5vw 1vw 1vw;
  background-color: rgba(255, 255, 255, 0.15);
  font-size: 0.7vw;
  font-weight: 400;
  color: var(--yelow);
}

#about_me {
  width: 40%;
  line-height: 1.35vw;
}

#project_me {
  width: 50%;
  line-height: 1.2vw;
}

.li_project {
  margin: 0.5vw 0 0 0;
  font-size: 0.8vw;
  font-weight: 700;
  color: var(--blue-lite);
}

.Description_project {
  font-size: 0.7vw;
  font-weight: 400;
  color: var(--yelow);
  margin: 0;
}

.link_project {
  cursor: pointer;
  text-decoration: underline;
}

@media only screen and (max-width: 700px) {
  .divabout {
    background-color: rgb(16, 0, 61);
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    width: 78%;
    height: 90%;
    border-radius: 6vw;
    padding: 0;
    border: var(--purple) 1vw solid;
    flex-direction: column;
    justify-content: flex-start;
  }

  .divabout:after {
    border-radius: 7vw;
    content: "";
    position: absolute;
    top: -3.2vw;
    left: -3.2vw;
    right: -3.2vw;
    bottom: -3.2vw;
    background: rgb(16, 0, 61);
    z-index: -1;
  }

  .divabout .title {
    background: var(--blue);
    border: var(--blue-lite) 0.8vw solid;
    color: var(--blue-lite);
    border-radius: 3vw;
    position: absolute;
    width: 40%;
    height: 6vw;
    top: -4.5vw;
    right: 4.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-size: 3vw;
    font-weight: 700;
    /* z-index: 20; */
  }

  .divabout .title:after {
    border-radius: 3.5vw;
    content: "";
    position: absolute;
    top: -2.4vw;
    left: -2.4vw;
    right: -2.4vw;
    bottom: -2.4vw;
    background: var(--blue);
    z-index: -1;
  }

  #about_me {
    width: 70%;
    line-height: 3.2vw;
    margin: 5vw auto 0 auto;
  }

  #project_me {
    width: 70%;
    line-height: 3.8vw;
    margin: 3vw auto 0 auto;
  }

  .divabout .title_li {
    font-size: 2vw;
    font-weight: 700;
    color: var(--purple);
    padding: 0;
    margin: 0.5vw 0 0 0;

  }

  .divabout .content {
    border: 0.5vw solid var(--blue-lite);
    border-radius: 2vw;
    padding: 1.5vw 3vw 1vw;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 1.8vw;
    font-weight: 400;
    color: var(--yelow);
  }

  .li_project {
    margin: 0.5vw 0 0 0;
    font-size: 2vw;
    font-weight: 700;
    color: var(--blue-lite);
  }

  .Description_project {
    font-size: 1.7vw;
    font-weight: 400;
    color: var(--yelow);
    margin: 0;
  }

}