.sidebar {
  position: fixed;
  text-align: center;
  padding-top: 2vw;
  top: 0;
  right: 5%;
  width: 20%;
  height: 100%;
  background-image: url("../../background-image/vaio_hard_edge.png");
  box-shadow: 0 0 4vw var(--blue-text);
  color: var(--blue-text);
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 2em;
}

.sidebar .over {
  overflow: auto;
  height: 100%;
}

.sidebar .what {
  width: 2.2vw;
  height: 2.2vw;
  cursor: pointer;
}

.sidebar .git {
  cursor: pointer;
  margin: 0 1vw;
  font-size: 3.5vw;
}

.sidebar .download {
  border: var(--blue-text) 0.3vw solid;
  color: var(--blue-text);
  border-radius: 50px;
  padding: 0.1vw;
  cursor: pointer;
  margin: 0 1vw;
  font-size: 3vw;
}
.sidebar .downloadsmallscreen {
  display: none;
}
.sidebar .divbtnmodal {
  display: none;
}

.sidebar .mail {
  cursor: pointer;
  width: 2.2vw;
  height: 2.2vw;
}
.sidebar .phone {
  cursor: pointer;
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 30px;
}
.sidebar .divmail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  font-size: 1.4vw;
}
.sidebar .divphone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .divlinks {
  margin-top: 3vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sidebar .messagelink {
  display: none;
}

.speech-bubble {
  position: absolute;
  top: 11vw;
  left: 6vw;
  margin: 0.5em auto;
  padding: 1vw;
  width: 11vw;
  height: 5vw;
  border-radius: 0.25em;
  transform: rotate(-4deg) rotateY(15deg);
  background: #629bdd;
  font-size: 1vw !important;
  text-align: center;
  line-height: normal;
}
.speech-bubble:before,
.speech-bubble:after {
  position: absolute;
  z-index: -1;
  content: "";
}
.speech-bubble:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  transform: rotate(2deg) translate(0.35em, -0.15em) scale(1.02);
  background: #f4fbfe;
}
.speech-bubble:before {
  border: solid 0 transparent;
  border-right: solid 3.5em #f4fbfe;
  border-bottom: solid 0.25em #629bdd;
  bottom: 0.25em;
  left: 1.25em;
  width: 0;
  height: 1em;
  transform: rotate(45deg) skewX(75deg);
}
h2 {
  display: inline;
}
@media only screen and (max-width: 700px) {
  .sidebar {
    position: absolute;
    text-align: center;
    padding-top: 2vw;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 45vw;
    background-image: url("../../background-image/vaio_hard_edge.png");
    box-shadow: 0 0 4vw var(--blue-text);
    color: var(--blue-text);
    font-size: 4.5vw;
    font-weight: 700;
    line-height: 5vw;
  }

  .sidebar .titleright {
    width: 35%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 10%;
    border-left: var(--blue-text) 1vw solid;
  }

  .sidebar .what {
    width: 10.2vw;
    height: 10.2vw;
    cursor: pointer;
  }

  .sidebar .git {
    cursor: pointer;
    margin: 0 5vw 5vw;

    font-size: 10vw;
  }

  .sidebar .messagelink {
    color: var(--blue-text);
    margin: 0 5vw 5vw;

    display: flex;
    font-size: 10vw;
  }

  .sidebar .download {
    display: none;
  }
  .sidebar .downloadsmallscreen {
    display: inline;
    border: var(--blue-text) 1vw solid;
    color: var(--blue-text);
    border-radius: 50px;
    padding: 0.1vw;
    cursor: pointer;
    /* margin: 1vw 5vw; */
    font-size: 8.5vw;
  }
  .sidebar .mail {
    cursor: pointer;
    width: 9.2vw;
    height: 9.2vw;
  }
  .sidebar .phone {
    cursor: pointer;
    width: 9.2vw;
    height: 9.2vw;
    border-radius: 30px;
  }
  .sidebar .titleleft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 80%;
    position: absolute;
    top: 15%;
    right: 35%;
  }
  .sidebar .divmail {
    margin-top: 2vw;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
  }
  .sidebar .divphone {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar .divlinks {
    margin-top: 4vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .speech-bubble {
    position: absolute;
    z-index: 1;
    top: 42vw;
    left: 22vw;
    margin: 0.5em auto;
    padding: 2vw 0vw 1vw 4vw;
    width: 55vw;
    height: 37vw;
    border-radius: 3vw;
    transform: rotate(-4deg) rotateY(15deg);
    background: #629bdd;
    font-size: 4vw !important;
    text-align: center;
    line-height: normal;
  }
  .speech-bubble:before,
  .speech-bubble:after {
    position: absolute;
    z-index: -1;
    content: "";
  }
  .speech-bubble:after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    transform: rotate(2deg) translate(0.85em, -0.75em) scale(1.02);
    background: #f4fbfe;
  }
  .speech-bubble:before {
    border: solid 0 transparent;
    border-right: solid 20vw #f4fbfe;
    border-left: solid 3vw #629bdd;
    top: 1vw;
    left: 14vw;
    width: 0;
    height: 1em;
    transform: rotate(45deg) skewX(75deg);
  }
  .sidebar .divbtnmodal {
    margin: 2vw auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  .sidebar .btnmodal {
    background-color: transparent;
    font-size: 9vw;
    border: none;
    font-weight: 900;
  }
  .yes {
    color: green;
    text-decoration: none;
  }
  .no {
    color: red;
  }
}
