.sidebar {
  position: fixed;
  text-align: center;
  padding-top: 2vw;
  top: 0;
  right: 5%;
  width: 20%;
  height: 100%;
  background-image: url("../../background-image/vaio_hard_edge.png");
  box-shadow: 0 0 4vw var(--blue-text);
  color: var(--blue-text);
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 2em;
}

.sidebar .over {
  overflow: auto;
  height: 100%;
}

.sidebar .what {
  width: 2.2vw;
  height: 2.2vw;
  cursor: pointer;
}

.sidebar .git {
  cursor: pointer;
  margin: 0 1vw;
  font-size: 3.5vw;
}

.sidebar .download {
  border: var(--blue-text) 0.3vw solid;
  color: var(--blue-text);
  border-radius: 50px;
  padding: 0.1vw;
  cursor: pointer;
  margin: 0 1vw;
  font-size: 3vw;
}
.sidebar .mail {
  cursor: pointer;
  width: 2.2vw;
  height: 2.2vw;
}
.sidebar .phone {
  cursor: pointer;
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 30px;
}
.sidebar .divmail {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  font-size: 1.4vw;
}
.sidebar .divphone {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .divlinks {
  margin-top: 3vw;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sidebar .messagelink {
  display: none;
}

@media only screen and (max-width: 999px) {
  .sidebar {
    position: absolute;
    text-align: center;
    padding-top: 2vw;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40vw;
    background-image: url("../../background-image/vaio_hard_edge.png");
    box-shadow: 0 0 4vw var(--blue-text);
    color: var(--blue-text);
    font-size: 4.5vw;
    font-weight: 700;
    line-height: 5vw;
  }

  .sidebar .titleright {
    width: 35%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 10%;
    border-left: var(--blue-text) 1vw solid;
  }

  .sidebar .what {
    width: 10.2vw;
    height: 10.2vw;
    cursor: pointer;
  }

  .sidebar .git {
    cursor: pointer;
    margin: 0 5vw 5vw;

    font-size: 10vw;
  }

  .sidebar .messagelink {
    color: var(--blue-text);
    margin: 0 5vw 5vw;

    display: flex;
    font-size: 10vw;
  }

  .sidebar .download {
    border: var(--blue-text) 0.3vw solid;
    color: var(--blue-text);
    border-radius: 50px;
    padding: 0.1vw;
    cursor: pointer;
    /* margin: 1vw 5vw; */
    font-size: 9vw;
  }
  .sidebar .mail {
    cursor: pointer;
    width: 9.2vw;
    height: 9.2vw;
  }
  .sidebar .phone {
    cursor: pointer;
    width: 9.2vw;
    height: 9.2vw;
    border-radius: 30px;
  }
  .sidebar .titleleft {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 80%;
    position: absolute;
    top: 15%;
    right: 35%;
  }
  .sidebar .divmail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
  }
  .sidebar .divphone {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
  }
  .sidebar .divlinks {
    margin-top: 3vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
