.sidebar {
  position: fixed;
  text-align: center;
  padding-top: 2vw;
  top: 0;
  right: 5%;
  width: 20%;
  height: 100%;
  background-image: url("../../background-image/vaio_hard_edge.png");
  box-shadow: 0 0 4vw var(--blue-text);
  color: var(--blue-text);
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 2em;
}

.sidebar .over {
  overflow: auto;
  height: 100%;
}

.sidebar .what {
  width: 2.2vw;
  height: 2.2vw;
  cursor: pointer;
}

.sidebar .git {
  cursor: pointer;
  margin: 0 1vw;
}

.sidebar .download {
  border: var(--blue-text) 0.3vw solid;
  color: var(--blue-text);
  border-radius: 50px;
  padding: 0.1vw;
  cursor: pointer;
  margin: 0 1vw;
}
.sidebar .mail {
  cursor: pointer;
  width: 2.2vw;
  height: 2.2vw;
}
.sidebar .phone {
  cursor: pointer;
  width: 2.2vw;
  height: 2.2vw;
  border-radius: 30px;
}
.sidebar .divflex {
  display: flex;
  margin-top: 2vw;
  /* align-items: center; */
  justify-content: center;
}
